.container.position-fixed.bottom-0.m-2
  .row.row-cols-4.text-center
    .col
      a.px-2(href="/") Home          
    .col 
      a.px-2(href="/shop") My Shopping list
    .col 
      a.px-2(href="/admin/add-product") Add Product 
    .col 
      a.px-2(href="/admin/products") My Products 
      