doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="./styles/styles.css")
        link(rel="stylesheet", href="/bootstrapscripts/css/bootstrap.min.css")
        script(src="/bootstrapscripts/js/bootstrap.min.js") 
        block head
    body 
        include ../includes/nav 
        block content
        include ../includes/foot
        block scripts