extends ../layouts/layouts

block content
    form.container.mt-4(action="/admin/products", method="POST")
      .mb-3
        label.form-label(for='addProduct') Product Name
        input#addProduct.form-control(type='text', aria-describedby='productName', name="product_name", placeholder="Product name")
        #emailHelp.form-text Add your Product name here
      .mb-3
        label.form-label(for='productCost') Product Cost
        input#productCost.form-control(type='number', name="product_cost", placeholder="Amount in rupees")
      .mb-3.form-check
        input#isAvailable.form-check-input(type='checkbox', name="product_availability")
        label.form-check-label(for='isAvailable') Is Available in stock
      button.btn.btn-outline-primary(type='submit') Add Product