extends ../layouts/layouts
block content
    .container.mt-4
        .row
            .col.d-grid.align-content-center.justify-content-center.text-center
                h4.display-5 404
                h1.display-1 Page not found
                p.mt-4 Please visit 
                    a(href="/") Home