extends ../layouts/layouts
block content 
    .container.mt-4 
        h1 My Product List page
        if productList.length > 0
            table.table
                thead
                    tr
                    th(scope='col') Sr No.
                    th(scope='col') Product Name
                    th(scope='col') Price
                    th(scope='col') Availability
                    th(scope="col") Acitons
                tbody
                    each val, index in productList
                        tr
                            th(scope='row') #{index + 1}
                                td 
                                    a(href="/admin/products/" + val.id) #{val.product_name}
                                td #{val.product_cost}
                                td #{val.product_availability === 'on' ? 'available': 'unavailable'}
                                td 
                                    a(href="/admin/edit-product/" + val.id) Edit
        else  
            h1 No Products added
